In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv('income_regression.csv')
data.head()

,income,age,stat1,stat2,stat3,work-year,education,occupation,family,gender
0,77516,39,2174,0,40,13,Bachelors,Adm-clerical,Not-in-family,Male
1,83311,50,0,0,13,13,Bachelors,Exec-managerial,Husband,Male
2,215646,38,0,0,40,9,HS-grad,Handlers-cleaners,Not-in-family,Male
3,234721,53,0,0,40,7,11th,Handlers-cleaners,Husband,Male
4,338409,28,0,0,40,13,Bachelors,Prof-specialty,Wife,Female

In [5]:
target = data.income
features_data = data.drop('income',axis=1)
features_data

,age,stat1,stat2,stat3,work-year,education,occupation,family,gender
0,39,2174,0,40,13,Bachelors,Adm-clerical,Not-in-family,Male
1,50,0,0,13,13,Bachelors,Exec-managerial,Husband,Male
2,38,0,0,40,9,HS-grad,Handlers-cleaners,Not-in-family,Male
3,53,0,0,40,7,11th,Handlers-cleaners,Husband,Male
4,28,0,0,40,13,Bachelors,Prof-specialty,Wife,Female
5,37,0,0,40,14,Masters,Exec-managerial,Wife,Female
6,49,0,0,16,5,9th,Other-service,Not-in-family,Female
7,52,0,0,45,9,HS-grad,Exec-managerial,Husband,Male
8,31,14084,0,50,14,Masters,Prof-specialty,Not-in-family,Female
9,42,5178,0,40,13,Bachelors,Exec-managerial,Husband,Male
10,37,0,0,80,10,Some-college,Exec-managerial,Husband,Male
11,30,0,0,40,13,Bachelors,Prof-specialty,Husband,Male
12,23,0,0,30,13,Bachelors,Adm-clerical,Own-child,Female
13,32,0,0,50,12,Assoc-acdm,Sales,Not-in-family,Male
14,40,0,0,40,11,Assoc-voc,Craft-repair,Husband,Male
15,34,0,0,45,4,7th-8th,Transport-moving,Husband,Male
16,25,0,0,35,9,HS-grad,Farming-fishing,Own-child,Male
17,32,0,0,40,9,HS-grad,Machine-op-inspct,Unmarried,Male
18,38,0,0,50,7,11th,Sales,Husband,Male
19,43,0,0,45,14,Masters,Exec-managerial,Unmarried,Female
20,40,0,0,60,16,Doctorate,Prof-specialty,Husband,Male
21,54,0,0,20,9,HS-grad,Other-service,Unmarried,Female
22,35,0,0,40,5,9th,Farming-fishing,Husband,Male
23,43,0,2042,40,7,11th,Transport-moving,Husband,Male
24,59,0,0,40,9,HS-grad,Tech-support,Unmarried,Female
25,56,0,0,40,13,Bachelors,Tech-support,Husband,Male
26,19,0,0,40,9,HS-grad,Craft-repair,Own-child,Male
27,54,0,0,60,10,Some-college,?,Husband,Male
28,39,0,0,80,9,HS-grad,Exec-managerial,Not-in-family,Male
29,49,0,0,40,9,HS-grad,Craft-repair,Husband,Male
...,...,...,...,...,...,...,...,...,...
6970,40,0,0,40,9,HS-grad,Adm-clerical,Own-child,Female
6971,39,0,0,52,10,Some-college,Craft-repair,Husband,Male
6972,69,0,0,55,4,7th-8th,Sales,Husband,Male
6973,54,0,0,40,13,Bachelors,Exec-managerial,Husband,Male
6974,56,0,0,40,9,HS-grad,Adm-clerical,Not-in-family,Female
6975,47,0,0,40,10,Some-college,Adm-clerical,Not-in-family,Female
6976,25,0,0,45,12,Assoc-acdm,Tech-support,Not-in-family,Female
6977,34,0,0,60,9,HS-grad,Transport-moving,Husband,Male
6978,24,0,0,50,4,7th-8th,Farming-fishing,Own-child,Male
6979,63,10566,0,45,10,Some-college,Craft-repair,Husband,Male
6980,29,0,0,50,14,Masters,Prof-specialty,Husband,Male
6981,64,0,0,40,10,Some-college,Adm-clerical,Husband,Male
6982,44,0,0,40,13,Bachelors,Prof-specialty,Not-in-family,Male
6983,26,0,0,60,9,HS-grad,Craft-repair,Other-relative,Male
6984,36,0,0,40,6,10th,Other-service,Not-in-family,Female
6985,55,7688,0,38,13,Bachelors,Adm-clerical,Husband,Male
6986,37,0,0,40,9,HS-grad,Handlers-cleaners,Wife,Female
6987,37,0,0,65,6,10th,Machine-op-inspct,Not-in-family,Male
6988,63,7688,0,36,13,Bachelors,Prof-specialty,Wife,Female
6989,33,0,0,60,9,HS-grad,Transport-moving,Husband,Male
6990,19,0,0,10,10,Some-college,Adm-clerical,Own-child,Female
6991,57,0,1977,40,14,Masters,Prof-specialty,Wife,Female
6992,31,4386,0,45,12,Assoc-acdm,Sales,Husband,Male
6993,20,0,0,30,10,Some-college,?,Own-child,Female
6994,58,7298,0,40,9,HS-grad,Exec-managerial,Husband,Male
6995,20,0,0,20,10,Some-college,?,Own-child,Female
6996,25,0,0,40,10,Some-college,Sales,Husband,Male
6997,40,0,0,40,9,HS-grad,Adm-clerical,Unmarried,Female
6998,18,1055,0,20,7,11th,Other-service,Own-child,Male
6999,26,0,0,40,9,HS-grad,Adm-clerical,Not-in-family,Male

In [8]:
# 提取数值类型为整数或浮点数的变量
numeric_features = [c for c in features_data if features_data[c].dtype.kind in ('i', 'f')]
numeric_data = data[numeric_features]

In [12]:
le = preprocessing.LabelEncoder()
def data_encoded(x):
    le.fit(x)
    return le.transform(x)

In [75]:
categorical_data = features_data.drop(numeric_features,axis=1)
categorical_data_encoded = categorical_data.apply(data_encoded)
gender = categorical_data_encoded.gender
categorical_data_encoded = categorical_data_encoded.drop('gender',axis=1)
#  取对数
def d_log(x):
    if x:
        return np.log2(x)
    else:
        return x
categorical_data_encoded = categorical_data_encoded.applymap(d_log)

In [76]:
features = pd.concat([numeric_data, categorical_data_encoded,gender], axis=1)
features.head()
# 归一化
scaler  = preprocessing.StandardScaler().fit(features)
featrues_trans = scaler.transform(features)
X_train, X_test, y_train, y_test=train_test_split(featrues_trans, target,test_size=0.3,random_state=1)
cls = DecisionTreeRegressor()
cls.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [82]:
score = cls.score(X_test, y_test)
print("Trainting score:%f" % (cls.score(X_train, y_train)))
print("Trainting score:%f" % (cls.score(X_test, y_test)))
print(cls.predict(X_test))

Trainting score:0.899464
Trainting score:-0.966274
[ 127610.  160786.  140854. ...,   29441.  248384.  431426.]

In [80]:
y = cls.predict(X_test)
print(np.mean(y - y_test))

3163.7000714285723